@page
@model Story.Pages.Client.CreateModel
@{
}

<br />
<h2>New Clients</h2>

<form method="post">
	<div class="row mb-3">
		<label class="col col-from-label">Name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="name" value=""
		</div>
	</div>

	<div class="row mb-3">
		<label class="col col-from-label">Email</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="email" value=""
		</div>
	</div>

	<div class="row mb-3">
		<label class="col col-from-label">Phone number</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="Phone" value=""
		</div>
	</div>

	<div class="row mb-3">
		<label class="col col-from-label">Address</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="address" value=""
		</div>
	</div>
	 
	<div class="row mb-3">
		<div class=" offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">submit</button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
		</div>
	</div>
</form>
