@page
@model Story.Pages.Client.IndexModel
@{

<br />
<h2>List of Client </h2>
<a class="btn btn-primary btn-sm" href="/Client/Create">New Client</a>
<table class="table">
<thead>
<tr>
<th>ID</th>
<th>Name</th>
<th>Email</th>
<th>Phone</th>
<th>Address</th>
<th>Create Ad</th>
<th>Actions</th>

</tr>
</thead>


</table>
}
